<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:if="${isSuccess != null}">成功！！</p>

	<p><a href="/redirect/form">リダイレクトテスト</a></p>
	<p><a href="/session/form">リダイレク+セッショントテスト</a></p>
	<form th:action="@{/session/regist}" method="post">
		<button type="submit">リダイレク+セッショントテスト（※いきなりPOST）</button>
	</form>
	<p><a href="/session2/form">リダイレク+セッショントテスト2</a></p>
	<form th:action="@{/session2/regist}" method="post">
		<button type="submit">リダイレク+セッショントテスト2（※いきなりPOST）</button>
	</form>

</body>
</html>