<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>dbテスト</title>
</head>
<body>
	<h1>dbテスト</h1>

	<p>185件の項目</p>
	<table border="1">
		<thead>
			<tr>
				<th th:with="isActiveOrder=(id==${sort}), nextOrder=(${isActiveOrder} ? !${order} : true), orderIcon=(${isActiveOrder} ? (${order} ? '▲' : '▼') : '')">
					<a th:href="@{${url}(sort=id, order=${nextOrder})}" th:text="|ID${orderIcon}:${isActiveOrder}:${nextOrder}|"></a>
				</th>
				<th th:with="isActiveOrder=(name==${sort}), nextOrder=(${isActiveOrder} ? !${order} : true), orderIcon=(${isActiveOrder} ? (${order} ? '▲' : '▼') : '')" >
					<a th:href="@{${url}(sort=name, order=${nextOrder})}" th:text="|名前${orderIcon}:${isActiveOrder}:${nextOrder}|"></a>
				</th>
				<th th:with="isActiveOrder=(age==${sort}), nextOrder=(${isActiveOrder} ? !${order} : true), orderIcon=(${isActiveOrder} ? (${order} ? '▲' : '▼') : '')" >
					<a th:href="@{${url}(sort=age, order=${nextOrder})}" th:text="|年齢${orderIcon}:${isActiveOrder}:${nextOrder}|"></a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}">
				<th th:text="${user.id}">1</th>
				<th th:text="${user.name}">太郎</th>
				<th th:text="${user.age}">30</th>
			</tr>
		</tbody>
	</table>

	<nav>
		<ul>
			<li th:class="(${i}==${page.number}) ? 'page-item active' : 'page-item'" th:each="i : ${#numbers.sequence(0, page.totalPages-1)}" style="display:inline">
				<a th:href="@{${url}(page=${i}, sort=${sort})}" th:text='${i+1}'></a>
			</li>
		</ul>
	</nav>

	<div th:fragment='paginationbar'>
		<ul class='pagination pagination-centered'>
			<li th:class="${pager.firstPage}?'disabled':''" style="display:inline">
				<span th:if='${pager.firstPage}'>←先頭</span>
				<a th:if='${not pager.firstPage}' th:href='@{${pager.url}(page=0,size=${pager.size})}'>←先頭</a>
			</li>

			<li th:class="${pager.hasPreviousPage}? '' : 'disabled'" style="display:inline">
				<span th:if='${not pager.hasPreviousPage}'>«</span>
				<a th:if='${pager.hasPreviousPage}' th:href='@{${pager.url}(page=${pager.currentNumber-2},size=${pager.size})}'>«</a>
			</li>

			<li th:each='item : ${pager.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
				<span th:if='${item.current}' th:text='${item.number}'>1</span>
				<a th:if='${not item.current}' th:href='@{${pager.url}(page=${item.number-1},size=${pager.size})}'>
				<span th:text='${item.number}'>1</span>
				</a>
			</li>

			<li th:if="${pager.isListContinue}" style="display:inline">
				<span>…</span>
			</li>

			<li th:class="${pager.hasNextPage}? '' : 'disabled'" style="display:inline">
				<span th:if='${not pager.hasNextPage}'>»</span>
				<a th:if='${pager.hasNextPage}' th:href='@{${pager.url}(page=${pager.currentNumber},size=${pager.size})}'>»</a>
			</li>

			<li th:class="${pager.lastPage}? 'disabled' : ''" style="display:inline">
				<span th:if='${pager.lastPage}'>末尾➝</span>
				<a th:if='${not pager.lastPage}' th:href='@{${pager.url}(page=${pager.totalPages - 1},size=${pager.size})}'>末尾➝</a>
			</li>
		</ul>
	</div>
</body>
</html>